.banner {
  width: 100%;
  color: white;
  padding: 1%;
}
.banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/KsEpvcc.jpg");
  margin: 0;
  background-size: cover;
}

.carousel-img {
  width: 80%;
}

.orange-button {
  background-color: orange;
  color: white;
  margin: 0 30%;
  padding: 1% 4%;
  border-radius: 5px;
}

.custom-switch {
  padding: 0 !important;
}
