.brand-img {
  width: 100%;
}

.orange-link-button {
  color: black !important;
  margin: 0 6%;
  padding: 1% 4%;
  border-radius: 5px;
}

.orange-link-button:focus {
  background-color: orange;
  color: white;
}

form {
  width: 30%;
}
.form-control {
  width: 90% !important;
  background-color: rgba(255, 255, 255, 0.356);
}
