.brand-img {
  width: 125px;
  filter: invert(100%);
}
.brand-img-black {
  width: 125px;
}

.orange-link-button {
  color: white !important;
  margin: 0 4%;
  padding: 1% 2%;
  border-radius: 5px;
}

.orange-link-black {
  color: black !important;
  margin: 0 4%;
  padding: 1% 2%;
  border-radius: 5px;
}

.orange-link-button:focus,
.orange-link-black:focus {
  background-color: orange;
  color: white;
}

.navbar-toggler {
  background-color: whitesmoke !important;
}

button:focus {
  outline: none !important;
}

.show {
  background-color: rgba(133, 143, 115, 0.945);
}
