.booking-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/KsEpvcc.jpg");
  margin: 0;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  height: 600px;
}

.booking-form {
  width: 400px;
  margin-left: 30px;
}

.booking-form-container {
  width: 420px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.form-control:focus {
  font-weight: 600;
  font-size: 20px;
}
